@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');

:root {
  font-family: 'Nunito sans';
  color-scheme: dark light;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --text-color-dark: #f8edc6;
  --bg-color-dark: #000;
  --text-color-light: #000;
  --bg-color-light: #f8edc6;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: var(--bg-color-dark);
    color: var(--text-color-dark);
    /* background-color: var(--bg-color-light);
    color: var(--text-color-light); */
  }
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: var(--bg-color-light);
    color: var(--text-color-light);
  }
}

body {
  margin: 0;
  padding: 0;
}